<script id="modal_tpl" type="x-tmpl-mustache">
<div id="{{ '{{ id }}' }}" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-{{ '{{ size }}' }}" role="document">
        <div class="modal-content">
            <div class="loader-wrapper">
                <div class="loader-container">
                    <div class="ball-spin-fade-loader loader-blue">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</script>
